#wrapper {
    height: 400px;
    width: 1000px;
    background-color: bisque;
    margin: 10% 0% 0% 10%;
    border-style: solid;
    border: 2%;
    border-color: red;
    text-align: center;
    font-family: cursive
}

#content {  
   
}

#images {
    
    height: 400px;
    width: 200px;
    display: none;
    margin-left: 40%;
}

body {
  background-image: url('/assets/images/background.jpeg');
  background-color: #cccccc;
  height: 500px;
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  background-size: cover;
  /* position: relative; */
}